<div id="main-content" style="height: 100%; overflow: hidden; position: relative; z-index: 3" class="small-12 columns large-12">
	<!-- ********************* -->
	<!-- ** Account Section ** -->
	<!-- ********************* -->
	<div id="account-settings" class="large-6 columns panel">
	<h2>Account Settings</h2>
		<form name="accountForm" novalidate>
			<div class="row">
				<div class="large-12 columns">
					<label>Email:</label>
					<input disabled type="email" ng-model="user.email" />
				</div>
			</div>

			<div class="row">
				<div class="large-6 columns">
					<label>Default Timezone:</label>
					<select ng-options="tz.zone as tz.zone for tz in timezones" ng-model="user.timezone" ></select>
				</div>
				<div class="large-6 columns">
					<label>Default Calendar:</label>
					<select ng-options="calendar.calendar_id as calendar.calendar_name for calendar in calendars | filter:{subscribed: true} | orderBy: 'calendar_name'" ng-model="user.settings.default_calendar" ></select>
				</div>
			</div>
			
			<div class="row">
				<div class="large-6 columns">
					<label>Start of Day:</label>
					<time required db="true" ng-model="user.settings.start_of_day" placeholder="h:mm AM/PM" />
				</div>
			
				<div class="large-6 columns">
					<label>End of Day:</label>
					<time required db="true" ng-model="user.settings.end_of_day" placeholder="h:mm AM/PM" />
				</div>
			</div>
				<!-- Primary Organization:
				<select disabled ng-options="org.org_id as org.org_name for org in orgs" ng-model="user.settings.primary_org.org_id" ></select>
				Access Level: {{user.settings.primary_org.user_role}} - {{user.settings.primary_org.org_id}} -->
			<div class="row">
				<div class="large-12 columns">
					<ul class="button-group even-2">
						<li>
							<button class="button radius" ng-click="resetUser()">
								<span aria-hidden="true" class="icon-reload-alt"> Reset</span>
							</button>
						</li>
						<li>
							<confirm
								disabled="accountForm.$pristine"
								button-icon="icon-checkmark"
								button-class="button radius"
								header="Update Account Information"
								body="Are you sure you want to update your user settings?"
								footer="You are about to change your account settings, this could affect the way your information is displayed to you.  Are you sure you wnat to continue"
								affirmative-text="Save"
								negative-text="Cancel"
								affirmative-action="saveUser()"
								negative-action="cancelUser()">
									Save
							</confirm>
						</li>
					</ul>
				</div>
			</div>
		</form>
	</div>
	<!-- END Account Section -->

	<!-- ***************************** -->
	<!-- **  Contact Points Section ** -->
	<!-- ***************************** -->
	<div id="contact-points" class="large-6 columns panel">
		<h2>Contact Points</h2>
		
			<div class="large-12 columns left" ng-show="!editingPoint">
				<div class="large-12 columns left contactPoint item" ng-repeat="point in contactPoints">
					<contact-point></contact-point>
				</div>
				<div class="large-12 columns">
					<button class="button radius" ng-click="newContactPoint()">
						<span aria-hidden="true" class="icon-plus-alt"> Add new Contact Point</span>
					</button>
				</div>
			</div>
			<div class="large-12 columns" ng-show="editingPoint">
			<form name="contactForm" novalidate>
				<div class="large-4 columns clear left">Name:</div><div class="large-8 columns right"><input type="text" ng-model="editPoint.point_name" /></div>
				<div class="large-4 columns clear left">Address:</div><div class="large-8 columns right"> <input type="text" ng-model="editPoint.address" /></div>
				<div class="large-4 columns clear left">Point Type:</div><div class="large-8 columns right"><select ng-options="type for type in ['email','phone']" ng-model="editPoint.point_type" ></select></div>
				<div class="large-4 columns clear left">Activated:</div><div class="large-8 columns right"><input type="checkbox" disabled ng-model="editPoint.activated" /></div>
				<div class="large-4 columns clear left">Emergency Only:</div><div class="large-8 columns right"><input type="checkbox" ng-model="editPoint.emergency_only" /></div>
				
				<div class="row">
					<div class="large-12 columns">
						<ul class="button-group even-2">
							<li>
								<button ng-click="cancel()" class="button radius">
									<span aria-hidden="true" class="icon-close"></span> Cancel
								</button>
							</li>
							<li>
								<confirm 
									disabled="contactForm.$pristine"
									button-class="button radius"
									button-icon="icon-checkmark"
									header="Update Contact Point"
									body="Are you sure you want to update this contact point?"
									footer="You are about to modify a contact point.  By confirming this action you may need to activate the contact point again in order to receive alert messages.  Are you sure you wnat to continue?"
									enforce-dialog="{{!addingPoint}}"
									affirmative-text="Save"
									negative-text="Cancel"
									affirmative-action="save()"
									negative-action="cancel()">
										Save
								</confirm>
							</li>
						</ul>
					</div>
				</div>
				</form>
			</div>
		
	</div>
	<!-- END Contact Points Section -->
</div>
