<dl class="large-12 settings tabs">
	<dd settings-tab="account" user='user' activeTab='activeTab'>
		<p>
			<span aria-hidden="true" class="icon-cog"></span> Account
		</p>
	</dd>
	<dd settings-tab="contact_points" user='user' activeTab='activeTab'>
		<p>
			<span aria-hidden="true" class="icon-notebook"></span> Contact Points
		</p>
	</dd>
	<dd settings-tab="diagnostics" user='user' activeTab='activeTab'>
		<p>
			<span aria-hidden="true" class="icon-warning"></span> Diagnostics
		</p>
	</dd>
	
	<!-- <dd settings-tab="calendars" ng-show="isOrgAdmin()" user='user' activeTab='activeTab'><p><span aria-hidden="true" class="icon-calendar-4"></span> Calendar Manager</p></dd>
	<dd settings-tab="admin" ng-show="isOrgSuperAdmin()" user='user' activeTab='activeTab'><p><span aria-hidden="true" class="icon-star"></span> Administrator</p></dd> -->
	<!-- uncomment next two dd's and comment out the two dd's above to test/dev on non-admin account -->
	<dd settings-tab="calendars" user='user' activeTab='activeTab'>
		<p>
			<span aria-hidden="true" class="icon-calendar-4"></span> Calendar Manager
		</p>
	</dd>
	<dd settings-tab="admin"  user='user' activeTab='activeTab'>
		<p>
			<span aria-hidden="true" class="icon-star"></span> Administrator
		</p>
	</dd>
</dl> 
<!-- ********************* -->
<!-- ** Account Section ** -->
<!-- ********************* -->
<div ng-show="activeTab.account">
	<form name="accountForm" novalidate>
		<div class="row">
			<div class="large-12 columns">
				<label>Email:</label>
				<input disabled type="email" ng-model="user.email" />
			</div>
		</div>

		<div class="row">
			<div class="large-6 columns">
				<label>Default Timezone:</label>
				<select ng-options="tz.zone as tz.zone for tz in timezones" ng-model="user.timezone" ></select>
			</div>
			<div class="large-6 columns">
				<label>Default Calendar:</label>
				<select ng-options="calendar.calendar_id as calendar.calendar_name for calendar in calendars | filter:{subscribed: true} | orderBy: 'calendar_name'" ng-model="user.settings.default_calendar" ></select>
			</div>
		</div>
		
		<div class="row">
			<div class="large-6 columns">
				<label>Start of Day:</label>
				<time required db="true" ng-model="user.settings.start_of_day" placeholder="h:mm AM/PM" />
			</div>
		
			<div class="large-6 columns">
				<label>End of Day:</label>
				<time required db="true" ng-model="user.settings.end_of_day" placeholder="h:mm AM/PM" />
			</div>
		</div>
			<!-- Primary Organization:
			<select disabled ng-options="org.org_id as org.org_name for org in orgs" ng-model="user.settings.primary_org.org_id" ></select>
			Access Level: {{user.settings.primary_org.user_role}} - {{user.settings.primary_org.org_id}} -->
		<div class="row">
			<div class="large-12 columns">
				<ul class="button-group even-2">
					<li>
						<button class="button radius" ng-click="resetUser()">
							<span aria-hidden="true" class="icon-reload-alt"> Reset</span>
						</button>
					</li>
					<li>
						<confirm
							disabled="accountForm.$invalid"
							button-icon="icon-checkmark"
							button-class="button radius"
							header="Update Account Information"
							body="Are you sure you want to update your user settings?"
							footer="You are about to change your account settings, this could affect the way your information is displayed to you.  Are you sure you wnat to continue"
							affirmative-text="Save"
							negative-text="Cancel"
							affirmative-action="saveUser()"
							negative-action="cancelUser()">
								Save
						</confirm>
					</li>
				</ul>
			</div>
		</div>
	</form>
</div>
<!-- END Account Section -->

<!-- ************************* -->
<!-- ** Diagnostics Section ** -->
<!-- ************************* -->
<div ng-show="activeTab.diagnostics">
	<div class="row">
		<div class="twelve columns">
			<h2>Diagnostics</h2>
				Name: {{user.first_name}}
		</div>
	</div>
</div>
<!-- END Diagnostics Section -->

<!-- ***************************** -->
<!-- **  Contact Points Section ** -->
<!-- ***************************** -->
<div ng-show="activeTab.contact_points" class="large-12 columns">
	<h2>Contact Points</h2>
	<div class="large-4 columns left">
		<div class="large-12 columns left contactPoint item" ng-repeat="point in contactPoints">
			<contact-point></contact-point>
		</div>
	</div>
	<div class="large-8 columns right">
		<div class="large-12 columns" ng-show="editingPoint">
			<div class="large-4 columns clear left">Name:</div><div class="large-8 columns right"><input type="text" ng-model="editPoint.point_name" /></div>
			<div class="large-4 columns clear left">Address:</div><div class="large-8 columns right"> <input type="text" ng-model="editPoint.address" /></div>
			<div class="large-4 columns clear left">Point Type:</div><div class="large-8 columns right"><select ng-options="type for type in ['email','phone']" ng-model="editPoint.point_type" ></select></div>
			<div class="large-4 columns clear left">Activated:</div><div class="large-8 columns right"><input type="checkbox" disabled ng-model="editPoint.activated" /></div>
			<div class="large-4 columns clear left">Emergency Only:</div><div class="large-8 columns right"><input type="checkbox" ng-model="editPoint.emergency_only" /></div>
			<div class="large-6 columns">
				<div class="expand small alert button" ng-click="cancel()" >Cancel</div>
			</div>
			<div class="large-6 columns">
				<confirm button-class="expand small success" header="Update Contact Point" body="Are you sure you want to update this contact point?" footer="You are about to modify a contact point.  By confirming this action you may need to activate the contact point again in order to receive alert messages.  Are you sure you wnat to continue?" enforce-dialog="{{!addingPoint}}" affirmative-text="Save" negative-text="Cancel" affirmative-action="save()" negative-action="cancel()">Save</confirm>
			</div>
			<confirm button-class="alert expand" button-float="right" header="Delete Contact Point" body="Are you sure you want to delete this contact point?"	footer="You are about to delete a contact point.  This action can not be undone, and you will no longer receive alerts to this contact point.  Are you sure you wnat to continue?" affirmative-text="Continue" negative-text="Cancel" affirmative-action="deletePoint()" negative-action="cancel()">
				<span aria-hidden="true" class="icon-remove-2"></span>
			</confirm>
		</div>
		<div class="large-12 columns" ng-show="!editingPoint">
			<div class="button" ng-click="newContactPoint()">
				<span aria-hidden="true" class="icon-plus-alt"> Add new Contact Point</span>
			</div>
		</div>
	</div>
</div>
<!-- END Contact Points Section -->



