<div 
	id='summaryPopup'
	ng-show='summaryStyle.visible'
	ng-style='summaryStyle.style'>
	<div class='close' ng-click='resetSummary()'>
		<span class='icon-x-altx-alt' aria-hidden='true'></span>
	</div> 
	<div>{{summaryData.title}}</div>

	<div ng-show="summaryStyle.expand">
		{{summaryData.start | date}}<br />
		{{summaryData.end | date}}<br />
		{{summaryData.description}}
	</div> 

	<div class='row'> 
		<div class='large-12 columns'> 
			<ul class='button-group even-4'> 
				<li> 
					<button ng-hide="summaryStyle.expand" class='button radius' ng-click='expandSummary()'> 
						<span aria-hidden='true' class='icon-more'> More</span> 
					</button>
					<button ng-show="summaryStyle.expand" class='button radius' ng-click='collapseSummary()'> 
						<span aria-hidden='true' class='icon-android'> Less</span> 
					</button> 
				</li> 
				<li> 
					<button class='button radius' ng-click='resetSummary();'> 
						<span aria-hidden='true' class='icon-share'> Share</span> 
					</button> 
				</li> 
				<li> 
					<button class='button radius' ng-click='resetSummary();'> 
						<span aria-hidden='true' class='icon-remove-2'> Delete</span> 
					</button> 
				</li> 
				<li> 
					<button class='button radius' ng-click='edit(summaryData); resetSummary();'> 
						<span aria-hidden='true' class='icon-pencil'> Edit</span> 
					</button> 
				</li> 
			</ul> 
		</div> 
	</div>
</div>