<div id="password-reset-container" class='modal slide-top {{pwRstVisibility}}'>
	<div class="row">
		<div class="eight columns centered">
			<h1></span>Password Reset</h1>
			<form ng-submit='changePassword()' class="form-3">
				<input type="password" name="pw" value="" placeholder="New Password" id="pw" ng-model='resetForm.password' autocorrect="off" autocapitalize="off">
				<br>
				<input type="password" name="pw2" id="pw2" placeholder="Confirm Password" value="" ng-model='resetForm.repassword' autocorrect="off" autocapitalize="off" ui-event="{keyup:'CreateUser.comparePassword(resetForm.password, resetForm.repassword)'}"> 
				<span class="attn {{passwordMismatch}}">Passwords Must Match</span>
				<span class="attn">{{resetForm.error}}</span>
				<br>
				<input type="submit" name="submit" value="Save" style="background: green;">
				<br>
			</form>
		</div>
	</div>
</div>
<div id="forgot-password-container" class='modal slide-top {{forgotPwVisibility}}'>
	<div class="row">
		<div class="eight columns centered">
			<h1></span>Forgot Password</h1>
			<form ng-submit='forgotPassword(forgot)' class="form-3">
				<div id='forgot-input'>
					<input type="text" value="" placeholder="Registered Email Address" ng-model='forgot.email' autocorrect="off" autocapitalize="off">
					<p>- OR -</p>
					<input type="text" value="" placeholder="Username" ng-model='forgot.user_handle' autocorrect="off" autocapitalize="off"> 
					
					<div><p class="attn">{{forgot.error}}</p></div>
					<span aria-hidden="true" class="icon-spinner-3 anim-rotate8 spinner" ng-show="sending"></span>
					<input type="submit" ng-disabled='sending' name="submit" value="Send" style="background: green;">
					<br>
					<input type="button" value="Cancel" ng-click="cancelForgot()"  style="background: red; margin-bottom: 0;">
				</div>
				<div id='forgot-complete' style="display:none;">
					<h4 style="color:white;">Password reset instructions have been sent to the email address that you used to register your account.</h4>
					<input ng-click="cancelForgot()" type="button" value="OK">
				</div>
			</form>
		</div>
	</div>
</div>