<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Pinwheel - &beta;</title>
	<meta name="description" content="">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- iPhone -->
	<link href="assets/images/ios/touch-icon-iphone.png"
			sizes="57x57"
			rel="apple-touch-icon">
	<link href="assets/images/ios/apple-touch-startup-image-320x460.png"
			media="(device-width: 320px) and (device-height: 480px)
					and (-webkit-device-pixel-ratio: 1)"
			rel="apple-touch-startup-image">
	<!-- iPhone (Retina) -->
	<link href="assets/images/ios/touch-icon-iphone-retina.png"
			sizes="114x114"
			rel="apple-touch-icon">
	<link href="assets/images/ios/apple-touch-startup-image-640x920.png"
			media="(device-width: 320px) and (device-height: 480px)
					and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image">

	<!-- iPhone 5 -->
	<link href="assets/images/ios/apple-touch-startup-image-640x1096.png"
			media="(device-width: 320px) and (device-height: 568px)
					and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image">

	<!-- iPad -->
	<link href="assets/images/ios/touch-icon-ipad.png"
			sizes="72x72"
			rel="apple-touch-icon">
	<link href="assets/images/ios/apple-touch-startup-image-768x1004.png"
			media="(device-width: 768px) and (device-height: 1024px)
					and (orientation: portrait)
					and (-webkit-device-pixel-ratio: 1)"
			 rel="apple-touch-startup-image">
	<link href="assets/images/ios/apple-touch-startup-image-748x1024.png"
			media="(device-width: 768px) and (device-height: 1024px)
					and (orientation: landscape)
					and (-webkit-device-pixel-ratio: 1)"
			rel="apple-touch-startup-image">

	<!-- iPad (Retina) -->
	<link href="assets/images/ios/touch-icon-ipad-retina.png"
			sizes="144x144"
			rel="apple-touch-icon">
	<link href="assets/images/ios/apple-touch-startup-image-1536x2008.png"
			media="(device-width: 768px) and (device-height: 1024px)
					and (orientation: portrait)
					and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image">
	<link href="assets/images/ios/apple-touch-startup-image-1496x2048.png"
			media="(device-width: 768px) and (device-height: 1024px)
					and (orientation: landscape)
					and (-webkit-device-pixel-ratio: 2)"
			rel="apple-touch-startup-image">
		<ios-meta-data></ios-meta-data>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css({.tmp,app}) styles/main.css -->
	<link rel="stylesheet" href="assets/styles/main.css">
	<link rel="stylesheet" href="assets/styles/transitions.css">
	<link rel="stylesheet" href="assets/styles/ios.css">
	<link rel="stylesheet" href="assets/styles/glyphs.css">
	<link rel="stylesheet" href="assets/styles/foundation.css">
	<link rel="stylesheet" href="assets/styles/resource-panel.css">
	
	<link rel="stylesheet" href="assets/styles/datetimeentry.css">
	<link rel="stylesheet" href="assets/styles/spectrum.css"> 
	<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
	<link rel="stylesheet" href="assets/styles/ui-datepicker-custom.css">
	<link rel="stylesheet" href="bower_components/sdi-fullcalendar/fullcalendar.css">
	<link rel="stylesheet" href="bower_components/sdi-fullcalendar/fullcalendar.print.css">
	<link rel="stylesheet" href="bower_components/sdi-select2/select2.css">
	<!-- endbuild -->
</head>
  <body ng-app="pinwheelApp">
	<!--[if lt IE 7]>
	  <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	<![endif]-->

	<!--[if lt IE 9]>
	  <script src="bower_components/es5-shim/es5-shim.js"></script>
	  <script src="bower_components/json3/lib/json3.min.js"></script>
	<![endif]-->

	<!-- Add your site or application content here -->
	<div ng-controller="PinwheelCtl" class="{{device.describeDevice(true)}}">
		<nav class="left-nav" id="apps">
			<a ng-href="#/calendar"><span aria-hidden="true" class="icon-calendar"> </span><span>Calendar</span> </a>
			<a ng-show="checkPermission('view_hallpass_history',true)" ng-href="#/hallpass"><span aria-hidden="true" class="icon-vcard"> </span><span>Hall Pass</span> </a>
			<a ng-href="#/handbook" class="locked"><span aria-hidden="true" class="icon-book"> </span><span>Handbook</span></a>
			<a ng-href="#/reference" class="locked"><span aria-hidden="true" class="icon-books"> </span><span>Resources</span> </a>
			<a ng-href="#/settings" class="locked"><span aria-hidden="true" class="icon-cog"> </span><span>Settings</span> </a>
			<a ng-href="#/facilities" class="locked"><span aria-hidden="true" class="icon-building"> </span><span>Facilities</span> </a>
<!-- 			<a ng-href="#/admin" class="locked"><span aria-hidden="true" class="icon-star2"> </span><span>Admin</span> </a> -->
			<a ng-click="logout()" class="logout"><span aria-hidden="true" class="icon-spam"> </span><span>Logout</span></a>
		<!-- 	<button class="small button alert" >
			<a href="#" ng-href="#/settings"  class=""><span aria-hidden="true" class="icon-cog"> </span>Settings </a>
			<button class="small button alert" ng-click="logout()">
				<span aria-hidden="true" class="icon-spam" style="text-shadow: none;"> </span> Log Out
			</button> -->
		</nav>
		<!-- .page-wrap gets wrapped around ALL content including topbar/menubar -->
		<div class="page-wrap">
			<!-- global confirm dialog -->
			<div ng-include src="'modules/confirm/confirm.html'"></div>
			<!-- / confirm dialog -->

			<!-- header -->
			<nav id="mainHeader" ng-include src="'modules/_topbar.html'"></nav>
			<!-- / header -->
			<div class="outer-container">
				<!-- main content -->
				<!-- route pane -->
				<div class="large-12 columns" style="padding: 0;" ng-view=""></div>
				<!-- / route pane -->
				<!-- / main content -->

				<!-- task view -->
				<div
					ng-controller="TaskCtl"
					id="tasks"
					style="height: 100%; z-index: 1; right: 0px;"
					class="small-12 large-2 columns drawer"
					ng-include src="'modules/calendar/_task_sidebar.html'">
				</div>
				<!-- / task view -->

				<!-- subscription view  gets pulled 10 columns from it's original position, all the way to the left. -->
				<div
					ng-controller="SubscriptionCtl"
					id="my-calendars"
					style="height: 100%; z-index: 1;"
					class="small-12 large-2 columns drawer"
					ng-include src="'modules/calendar/_calendar_sidebar.html'">
				</div>
				<!-- / subscription view -->
			</div> <!-- / outer container --> 
		</div> <!-- /page_wrap -->
	</div> <!-- / application content -->

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src='//www.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
		Date.prototype.addHours = function(h){
			this.setHours(this.getHours()+h);
			return this;
		}
		Date.prototype.addDays = function(d){
			this.setDate(this.getDate()+d);
			return this;
		}
		Date.prototype.addMinutes = function(m){
			this.setMinutes(this.getMinutes()+m);
			return this;
		}
		Date.prototype.setTimeByString = function(str) {
			var parts = str.match(/(\d+)\.(\d+) (\w+)/),
				hours = /am/i.test(parts[3]) ? parseInt(parts[1], 10) : parseInt(parts[1], 10) + 12,
				minutes = parseInt(parts[2], 10);
			
			this.setHours(hours);
			this.setMinutes(minutes);
			return this;
		}
		Date.prototype.setTimeByObj = function(obj) {			
			this.setHours(obj.getHours());
			this.setMinutes(obj.getMinutes());
			return this;
		}
	</script>

	<!-- build:js scripts/modules.js -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/sdi-jquery-ui/ui/jquery-ui.js"></script>
	<script src="bower_components/sdi-fullcalendar/fullcalendar.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-ui-date/src/date.js"></script>
	<script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/sdi-angular-ui-calendar/src/calendar.js"></script>
	<script src="bower_components/angular-ui-select2/src/select2.js"></script>
	<script src="bower_components/sdi-select2/select2.js"></script>

	<script src="assets/js/datetimeentry/datetimeentry.min.js"></script>
	<script src="assets/js/spectrum/spectrum.min.js"></script>
	<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
	

	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="modules/app.js"></script>
	<script src="modules/resources.js"></script>
	<script src="modules/routes.js"></script>
	<script src="modules/pinwheelCtl.js"></script>
	<script src="modules/login/loginCtl.js"></script>
	<script src="modules/new_user/newUserCtl.js"></script>
	<script src="modules/forgot_password/forgotPasswordCtl.js"></script>
	<script src="modules/reset_password/resetPasswordCtl.js"></script>
	<script src="modules/activate_contact_point/activateContactPointCtl.js"></script>
	<script src="modules/calendar/taskCtl.js"></script>
	<script src="modules/hallpass/hallpassCtl.js"></script>
	<script src="modules/calendar/eventCtl.js"></script>
	<script src="modules/calendar/subscriptionCtl.js"></script>
	<script src="modules/calendar/calendarCtl.js"></script>
	<script src="modules/calendar/calendar_views/datebookViewDirective/datebookView.js"></script>
	<script src="modules/calendar/calendar_views/listViewDirective/listView.js"></script>
	<script src="modules/calendar/calendar_views/fullcalendarDirective/fullcalendarView.js"></script>
	<script src="modules/calendar/calendar_admin/calendarAdminCtl.js"></script>
	<!-- <script src="modules/calendar/calendar_views/dayViewDirective/dayView.js"></script> -->
	<!-- <script src="modules/calendar/calendar_views/monthViewDirective/monthView.js"></script> -->
	<!-- <script src="modules/calendar/calendar_views/weekViewDirective/weekView.js"></script> -->
	<!-- <script src="modules/calendar/calendar_views/yearViewDirective/yearView.js"></script> -->
	<script src="modules/calendar/viewTaskDirective/viewTask.js"></script>
	<script src="modules/calendar/taskFormDirective/taskForm.js"></script>
	<script src="modules/calendar/subscriptionDirective/activeSubscription.js"></script>
	<script src="modules/calendar/subscriptionDirective/availableSubscription.js"></script>
	<script src="modules/calendar/subscriptionDirective/subscriptionDirectiveCtl.js"></script>
	<script src="modules/reminders/reminderService.js"></script>
	<script src="modules/reminders/reminderDirective.js"></script>
	<script src="modules/confirm/confirmCtl.js"></script>
	<script src="modules/reference/referenceCtl.js"></script>
	<script src="modules/messaging/messagingCtl.js"></script>
	<script src="modules/handbook/handbookCtl.js"></script>
	<script src="modules/settings/settingsTabs.js"></script>
	<script src="modules/settings/settingsCtl.js"></script>
	<script src="modules/quickAddParser.js"></script>
	<script src="modules/deviceService.js"></script>
	<script src="modules/interfaceDirectives.js"></script>
	<script src="modules/contact_points/contactPoint.js"></script>
	<script src="modules/calendar/summaryPopup/summaryPopup.js"></script>

	<!-- endbuild -->
</body>
</html>
