<!-- Global confirm dialog box -->
<div id="global-modal-bg" class="reveal-modal-bg"></div>
<div id="global-modal" class="reveal-modal medium" style="position:fixed; color:black; z-index:100">
	<h2 style="white-space:normal;">{{header}}</h2>
	<p style="white-space:normal;" class="lead">{{body}}</p>
	<p style="white-space:normal;">{{footer}}</p>
	<div class="row">
		<div class="large-12 columns">
			<ul class="button-group even-2">
				<li><button ng-click="negative()" class="button radius">
					<span aria-hidden="true" class="icon-close"></span> {{negativeText}}
					</button>
				</li>
				<li><button ng-click="affirmative()" class="button radius">
					<span aria-hidden="true" class="icon-checkmark"></span> {{affirmativeText}}
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END Global confirm dialog box -->