#task-list-tasks-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
#task-list-tasks-container .input-text-container {
	margin-top: -3px;
	margin-bottom: 7px;
}
#task-list-tasks-container .hourmin-container {
	margin-bottom: 6px;
}
#task-list-tasks-container label {
	font-size: 12px;
	margin-bottom: 8px !important;
}
.task {
	overflow: hidden;
	background: #aaa; 
	color: #333; 
	-webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.1); 
	-moz-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.1); 
	box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.1); 
	cursor: pointer; 
	margin: 0 0 2px 0; 
	padding: 0px 0 0px 10px;
	border: 0px; 
}
/*----------------------------
Task panel colors must be solid. the 60% white rgba background  is from ".task-form"
------------------------------*/
/*gray for unscheduled to-do items?*/
.color0 {
	background:none;
}
/*red*/
.task.color1, .color1 {
	background: #E88989;
}

/*green*/
.task.color2, .color2 {
	background: #79c242;
}

/*blue*/
.task.color3, .color3 {
	background: #79C8DF;
}

/*orange*/
.task.color4, .color4 {
	background: #FCA469;
}

/*purple*/
.task.color5, .color5 {
	background: #C678C6;
}
/*this class supplies the 60% white rgba background that creates a lighter shade of the event/calendar color*/
.task-form {
	height: 100%;
	background: rgba(255,255,255,.6);
	padding: 4px;
}
.task .checkbox-container {
	position: relative;
	float: left;
	width: 13%;
}
.task .body {
	position: relative;
	float: left;
	width: 87%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.task .info .body {
	width: 77.5%;
	margin-right: 2%;
}
.task .body .title {
	color: black;
	font-size: 12px;
	line-height: 14px;
	margin-top: 2px;
	margin-bottom: 1px;
}
.task .body .notes {
	font-size: 10px;
	line-height: 12px;
	width: 100%;
	margin-bottom: 2px;
}
.task .body .due-date {
	font-size: 10px;
	line-height: 12px;
	width: 100%;
}
.task .body .title, .task .body .notes, .task .body .due-date {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.task .body .notes:hover, .task .body .due-date:hover, .task .body .title:hover  {
	text-decoration: underline;
}
.due-date:empty {
	min-height: 4px;
}
.notes:empty + .due-date:empty {
	min-height: 15px;
}
.task .expand-container {
	position: relative;
	float: left;
	width: 7.5%;
	height: 100%;
}
.task .delete-container {
	position: relative;
}

.task .expand-buttons {
	display: none;
}
.task .info .icon-group {
	display: block;
}
.task .info .body .notes, .task .info .body .title, .task .info .body .due-date {
	white-space: normal;
}
.task.completed .body {
	text-decoration: line-through !important;
}
.task-expand {
	color: black;
}
.task-delete {
	position: absolute;
	top: -21px;
	right: 0px;
	color: black;
	margin-top: 7px;
}
.edit-container {
	position: relative;
	clear: both;
}
.edit-container input[type=text] {
	padding: 3px;
	font-size: 12px;
	margin-bottom: 7px !important;
}
.edit-container textarea {
	padding: 3px;
	font-size: 12px;
	margin-bottom: 7px;
	border-radius: 4px;
}
.edit-container .select{
	font-size: 12px;
	margin-bottom: 7px !important;
}
.edit-container .button-group {
	padding: 0;
	margin: 0;
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	.task .body .title {
		font-size: 12px;
	}
	.task .body .due-date, .task .body .notes {
		font-size: 9px;
	}
	.edit-container input, textarea {
		padding: 1px;
		font-size: 9px !important;
	}
	.task .body .notes:hover, .task .body .due-date:hover, .task .body .title:hover  {
		text-decoration: none;
	}
}