<div class="subscription-panel" ng-style="{background:calendar.color}">
	<div class="subscription-gradient"> 
		<div class="subscription-body">
			<div ng-hide="editingCalendar">
				<div class="row">
					<div class="large-12 columns" style="padding: 0;">
						<div class="subscribed" ng-hide="isCalendarCreator(calendar)" type="button"><span aria-hidden="true" class="icon-rss-alt" ng-style="{color:calendar.color}"></span></div>
						<input type='checkbox' ng-model="watcher[calendar.calendar_id].viewing" ng-click="setShowState()" ng-false-state="false" />
						<strong class="subscription-calendar-title" ng-click="edit()">
							{{calendar.calendar_name}}
						</strong>
					</div>
				</div>
			</div>
			<form name="editCalendarForm" ng-show="editingCalendar" class="subscription" novalidate>
				<div ng-click="cancel()" class="close-panel">
					<span aria-hidden="true" class="icon-x-altx-alt" ></span>
				</div>
				<input focus-me="[editingCalendar]" required type="text" ng-model="editCalendar.calendar_name" placeholder="Name (required)" class="on-date" />
				<div class="row">
					<div class="large-6 columns" style='padding: 0;'>
						<ui-colorpicker class="checkbox" ng-model="editCalendar.color"></ui-colorpicker>
					</div>
					<div class="large-6 columns" style='padding: 0;'>
						<label class="checkbox">
							<input ng-model="watcher[calendar.calendar_id].viewing" type="checkbox" />
							Show 
						</label>
					</div>
				</div>
				<div class="row">
					<div ng-class="{'large-6':hasPublic , 'large-12':!hasPublic }" class="columns" style='padding: 0;'>
						<label class="checkbox" ng-class="{'on-date':editCalendar.has_reminder}">
							<input type='checkbox' ng-model="editCalendar.has_reminder" ng-change="reminderToggle()" />
							Reminder
						</label>
					</div>
					<div class="large-6 columns" ng-show="hasPublic = checkPermision('modify_public_calendars',true)" style='padding: 0;'>
						<label class=checkbox>
							<input ng-model="editCalendar.public" type="checkbox" />
							Public
						</label>
					</div>
					<!-- Check for permissions for all these elements -->
					<div class="large-12 columns" ng-show="checkPermision('modify_public_calendars',true)" style='padding: 0;'>
							<select  ng-show="checkPermision('modify_public_calendars').orgs.length > 1 && editCalendar.public" ng-options="permission.org_id as permission.org_name for permission in user.permissions | filter:{modify_public_calendars: true}" ng-model="editCalendar.org_id" class="ng-pristine ng-valid"><option value="">-- Select Org --</option></select>
							<label class=checkbox ng-show="checkPermision('modify_public_calendars').orgs.length == 1 && editCalendar.public">
								{{checkPermision('modify_public_calendars').orgs[0].org_name}}
							</label>
					</div>
					<div class="large-12 columns" ng-show="checkPermision('modify_public_calendars',true) || isCalendarCreator(calendar) || editCalendar.calendar_admin" style='padding: 0;'>
						<ul class="button-group">
							<li>
								<button class="button radius" ng-show="editCalendar.calendar_admin || isCalendarCreator(calendar)">
									<span calendar-admin-modal-trigger="calendars" aria-hidden="true" class="icon-star">Calendar Admins</span> <!-- cancel -->
								</button>
							</li>
						</ul>
					</div>

					<!-- End of Check for Permissions section -->
				</div>
				<div class="row" ng-show="editCalendar.has_reminder">
					<div style="float: left; width: 20%; margin-right: 2%;">
						<input ng-required="editCalendar.has_reminder" type='number' min="1" ng-model="editCalendar.reminder_offset" placeholder="2" />
					</div>
					<div style="float: left;" class="with-offset">
						<!-- Relative Reminder Types -->
						<select
							ng-options="r.id as r.name for r in reminderTypes | filter:{type:'relative'}"
							ng-model="editCalendar.reminder_type">
						</select>
					</div>
				</div>
				<ul class="button-group even-3">
					<li>
						<button ng-disabled="editCalendarForm.$invalid" class="button radius" ng-click="">
							<span aria-hidden="true" class="icon-share"></span> <!-- cancel -->
						</button>
					</li>
					<li>
						<button class="button radius" ng-click="unsubscribe()">
							<span aria-hidden="true" class="icon-remove-2"></span> <!-- unsubscribe -->
						</button>
					</li>
					<li style="padding-right: 0;">
						<button ng-disabled="editCalendarForm.$invalid" class="button radius" ng-click="update()">
							<span aria-hidden="true" class="icon-checkmark"></span> <!-- save -->
						</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>
