<ul class="title-area">
	<!-- Title Area -->
	<li class="name"><h1><a href="#"></a></h1></li>
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	<li class="toggle-topbar menu-icon"><a href=""><span><!-- Menu --></span></a></li>
</ul>

<section class="top-bar-section left">
	<dl class="sub-nav calendar-filter">
		<dd ng-click="changeView('datebook')" ng-class="{active:view=='datebook'}"><a>DB</a></dd>
		<dd ng-click="changeView('day')" ng-class="{active:view=='day'}"><a>D</a></dd>
		<dd ng-click="changeView('week')" ng-class="{active:view=='week'}"><a>W</a></dd>
		<dd ng-click="changeView('month')" ng-class="{active:view=='month'}"><a>M</a></dd>
		<dd ng-click="changeView('year')" ng-class="{active:view=='year'}"><a>Y</a></dd>
		<dd ng-click="changeView('list')" ng-class="{active:view=='list'}"><a>L</a></dd>
	</dl>
</section>

<div id="org-name-wrapper" style="position: absolute; left: 50%;">
	<div class="org-name" style="position: relative; left: -50%;">
		The Jedi Academy 
	</div>
</div>

<section class="top-bar-section right">
	<!-- Right Nav Section -->
	<ul>
		<li class=""><a href="#"><span aria-hidden="true" class="icon-network"></span></a></li>
		<li class=""><a href="#"><span aria-hidden="true" class="icon-bubble-notification"></span></a></li>
		<li class=""><a href="#"><span aria-hidden="true" class="icon-calendar"></span></a></li>
		<li class=""><a href="#"><span aria-hidden="true" class="icon-book"></span></a></li>
		<li class=""><a href="#"><span aria-hidden="true" class="icon-books"></span></a></li>
		<li class=""><a href="#"><span aria-hidden="true" class="icon-menu"></span></a></li>
	</ul>
</section>