<!-- Global confirm dialog box -->
<div id="global-modal-bg" class="reveal-modal-bg"></div>
<div id="global-modal" class="reveal-modal [expand, xlarge, large, medium, small]" style="position:fixed; color:black; z-index:100">
	<h2 style="white-space:normal;">{{header}}</h2>
	<p style="white-space:normal;" class="lead">{{body}}</p>
	<p style="white-space:normal;">{{footer}}</p>
	<div class="icon-group large-12 columns">
		<button ng-click="negative()" class="icon small alert button large-6 columns left" style="width:50% !important;">
			<span class="glyph-show cancel">
				<span aria-hidden="true" class="icon-close"></span> {{negativeText}}
			</span>
		</button>
		<button ng-click="affirmative()" class="icon small success button large-6 columns left" style="width:50% !important;">
			<span class="glyph-show save">
				<span aria-hidden="true" class="icon-checkmark"></span> {{affirmativeText}}
			</span>
		</button>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>
<!-- END Global confirm dialog box -->
<!-- Settings -->
<div id="account-settings-modal" class="reveal-modal [expand, xlarge, large, medium, small]" style="position:fixed; color:black; ">
	<div class="settings-body">
		<settings-interface user="user" ng-controller="SettingsCtl"></settings-interface>
	</div>
	<a class="close-reveal-modal">×</a>
</div> 
<!-- End Settings -->
<ul class="title-area">
	<!-- Title Area -->
	<li class="name"><h1><a href="#"></a></h1></li>
	<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	<li class="toggle-topbar menu-icon"><a href=""><span><!-- Menu --></span></a></li>
</ul>

<section class="top-bar-section left">
	<dl class="sub-nav calendar-filter" ng-show="user">
		<dd ng-click="changeView('datebook')" ng-class="{active:view=='datebook'}"><a>DB</a></dd>
		<dd ng-click="changeView('day')" ng-class="{active:view=='day'}"><a>D</a></dd>
		<dd ng-click="changeView('week')" ng-class="{active:view=='week'}"><a>W</a></dd>
		<dd ng-click="changeView('month')" ng-class="{active:view=='month'}"><a>M</a></dd>
		<dd ng-click="changeView('year')" ng-class="{active:view=='year'}"><a>Y</a></dd>
		<dd ng-click="changeView('list')" ng-class="{active:view=='list'}"><a>L</a></dd>
	</dl>
</section>

<div id="org-name-wrapper" style="position: absolute; left: 50%;">
	<div class="org-name" style="position: relative; left: -50%;">
		The Jedi Academy 
	</div>
</div>

<section class="top-bar-section right">
	<!-- Right Nav Section -->
	<ul ng-show="user">
		<!-- <li class=""><a><span aria-hidden="true" class="icon-network"></span></a></li> -->
		<li class=""><a ng-href="#/messaging"><span aria-hidden="true" class="icon-bubble-notification"></span></a></li>
		<li class=""><a ng-href="#/calendar"><span aria-hidden="true" class="icon-calendar"></span></a></li>
		<li class=""><a ng-href="#/handbook"><span aria-hidden="true" class="icon-book"></span></a></li>
		<li class=""><a ng-href="#/reference"><span aria-hidden="true" class="icon-books"></span></a></li>
		<settings-menu></settings-menu>
	</ul>
</section>
