<div id="main-content" style="height: 100%; overflow: hidden; position: relative; z-index: 2" class="small-12 columns large-12">
	<div class="row">
		<div class="large-6 large-centered columns centered">
			<h1>Forgot Password</h1>
		</div>
	</div>
	<div class="row" ng-show="!requestComplete">
		<div class="large-6 large-centered columns">
			<input type="text" value="" placeholder="Registered Email Address" ng-keyup="lookupEmail()" ng-model='forgot.email' autocorrect="off" autocapitalize="off" />
		</div>
		<div class="large-6 large-centered columns alert-box success centered" ng-show="!validEmail">
			Email address found
		</div>
		<div class="large-6 large-centered columns alert-box alert centered" ng-show="validEmail && (forgot.email != '' && forgot.email != undefined)">
			Email address not found
		</div>
		<div class="large-6 large-centered columns centered">
			<p>- OR -</p>
		</div>
		<div class="large-6 large-centered columns">
			<input type="text" value="" placeholder="Username" ng-keyup="lookupUsername()" ng-model='forgot.user_handle' autocorrect="off" autocapitalize="off" />
		</div>
		<div class="large-6 large-centered columns alert-box success centered" ng-show="!validUsername && (forgot.user_handle != '' && forgot.user_handle != undefined)">
			Username Found
		</div>
		<div class="large-6 large-centered columns alert-box alert centered" ng-show="validUsername && (forgot.user_handle != '' && forgot.user_handle != undefined)">
			Username not found
		</div>
		<div class="large-6 large-centered end columns">
			<div class="expand small button" ng-click="validateForgotForm()" >Send</div>
		</div>
	</div>
	<div class="row" ng-show="requestComplete">
	<div class="large-6 large-centered columns alert-box success centered">
			Password Reset instructions have been sent to the email address that you used to set up your account.
		</div>
	</div>
</div>