<div id="main-content" style="height: 100%; overflow: hidden; position: relative; z-index: 3" class="small-12 columns large-12">
	<div id="content" class="row">
		<div class="row" style="background: #ddd;">
			<div class="large-12 columns">
				<br>
				<form>
					<div class="row">
						<div class="large-3 columns">
							
							<label>Student Name</label>
							<!-- <input type="text" ng-model="newHallpass.name" placeholder="full student name"> -->
							<select ui-select2="{minimumInputLength: 2}" data-placeholder=" -- Students Name -- " ng-model="newHallpass.pass_holder_user_id" style="width: 100%;">
  								<option value=""></option>
   								<option ng-repeat="user in orgUsers" value="{{user.user_id}}">{{user.first_name}} {{user.last_name}}</option>
							</select>
						</div>
						<div class="large-3 columns">
							<label>Time Out</label>
							<time ng-model="newHallpassTime" placeholder="">
						</div>
						<div class="large-3 columns">
							<label>Destination</label>
							<select ui-select2 data-placeholder="Destination" ng-model="newHallpass.destination_id"  style="width: 100%;" >
  								<option value=""></option>
   								<option ng-repeat="destination in facilities" value="{{destination.location_id}}">{{destination.location_name}}</option>
							</select>
							<!-- <select ng-change="" ng-options="destination.location_id as destination.location_name for destination in facilities | orderBy: 'location_name'" ng-model="newHallpass.destination" class="ng-pristine ng-valid">
								<option value="">-- Select Destination --</option>
							</select> -->
						</div>
						<div class="large-3 columns">
							<br>
							<button ng-click="issuePass()" class="button small success" style="width: 100%;"> <!-- <span aria-hidden="true" class="icon-checkmark"></span> --> <span aria-hidden="true" class="icon-"></span>Issue Pass</button>
						</div>
					</div>
				</form>
			</div>
			<!-- <div class="large-6 small-12 columns"><br><h5><span aria-hidden="true" class="icon-signup"></span> Authorized personel must log every hallpass issued to students. Another authority will also log the student's arrival at their destination. Only students that are authorized to be outside of class will show up on this list. If a student is not on the list, they must be apprehended and immediately sent to the gulag for 20 years hard labor.</h5></div> -->
			<!-- <hr> -->
		</div>

		<dl id="hallpass-tabs" class="large-12 settings tabs">
			<dd settings-tab="activePasses" activeTab='activeTab'>
				<p>
					<span aria-hidden="true" class="icon-cog"></span> Active Hall Passes
				</p>
			</dd>
			<dd settings-tab="recentPasses" activeTab='activeTab'>
				<p>
					<span aria-hidden="true" class="icon-notebook"></span> Recent Hall Passes
				</p>
			</dd>
			<dd ng-repeat="user in viewing_history" settings-tab="{{user.pass_holder_user_id}}" activeTab='activeTab'>
				<p>
					 {{user.pass_holder_first_name}} {{user.pass_holder_last_name}} <span ng-click="closeUserHistory(user)" aria-hidden="true" class="icon-close2" title="Close Tab"></span>
				</p>
			</dd>
		</dl> 
		<div class="large-12" ng-show="activeTab.activePasses">
			<!-- <h2>Active Hall Passes</h2> -->
			<table class="admin-table">
				<thead>
					<tr>
						<th width="100">Name</th>
						<th width="130">Time Out</th>
						<th width="100">Time In</th>
						<th width="200">Destination</th>
						<th width="100">Authorized By</th>
						<th width="40">Check-In</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pass in hallpasses | filter:{in_time:'!'}">
						<td ng-click="viewUserHistory(pass)"><span class="student">{{pass.pass_holder_first_name}} {{pass.pass_holder_last_name}}</span> <span aria-hidden="true" class="right icon-history2"></span></td>
						<td>{{pass.out_time | date:'MMM d, y h:mm a'}}</td>
						<td>{{(pass.in_time == null)? 'Active':pass.in_time | date:'MMM d, y h:mm a'}}</td>
						<td>{{pass.destination_name}}</td>
						<td>{{pass.authority_first_name}} {{pass.authority_last_name}}</td>
						<td>
							<!-- <button ng-show="checkPermission('check_in_hall_pass',true)"class="button tiny success" ng-click="check_in(pass)"><span aria-hidden="true" class="icon-checkmark"></span></button>
						 -->
						<input type="checkbox" ng-show="checkPermission('check_in_hall_pass',true)" ng-click="check_in(pass)">
						
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="large-12" ng-show="activeTab.recentPasses">
			<!-- <h2>Recent Hall Passes</h2> -->

			<table>
				<thead>
					<tr>
						<th width="100">Name</th>
						<th width="130">Time Out</th>
						<th width="100">Time In</th>
						<th width="200">Destination</th>
						<th width="100">Authorized By</th>
						<th width="40">Check-In</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pass in hallpasses | filter:{in_time:'!!'}">
						<td ng-click="viewUserHistory(pass)">{{pass.pass_holder_first_name}} {{pass.pass_holder_last_name}} <span aria-hidden="true" class="right icon-history2"></span></td>
						<td>{{pass.out_time | date:'MMM d, y h:mm a'}}</td>
						<td>{{pass.in_time | date:'MMM d, y h:mm a'}}</td>
						<td>{{pass.destination_name}}</td>
						<td>{{pass.authority_first_name}} {{pass.authority_last_name}}</td>
						<td><span aria-hidden="true" class="icon-checkmark"></span></td>
 					</tr>
				</tbody>
			</table>
		</div>
		<div ng-repeat="user in viewing_history" class="large-12" ng-show="activeTab[user.pass_holder_user_id]">
			<h5 style="padding: 0; margin: 0;">{{user.pass_holder_first_name}} {{user.pass_holder_last_name}}</h5>
			<table>
				<thead>
					<tr>
						<th width="100">Name</th>
						<th width="130">Time Out</th>
						<th width="100">Time In</th>
						<th width="200">Destination</th>
						<th width="100">Authorized By</th>
						<th width="40">Check-In</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pass in hallpasses | filter:{pass_holder_user_id:user.pass_holder_user_id}">
						<td>{{pass.pass_holder_first_name}} {{pass.pass_holder_last_name}}</td>
						<td>{{pass.out_time | date:'MMM d, y h:mm a'}}</td>
						<td>{{(pass.in_time == null)? 'Active':pass.in_time | date:'MMM d, y h:mm a'}}</td>
						<td>{{pass.destination_name}}</td>
						<td>{{pass.authority_first_name}} {{pass.authority_last_name}}</td>
						<td><span ng-show="pass.in_time != null" aria-hidden="true" class="icon-checkmark"></span><button ng-show="checkPermission('check_in_hall_pass',true) && pass.in_time == null"class="button small success" ng-click="check_in(pass)"><span aria-hidden="true" class="icon-checkmark"></span></button></td>
 					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>