<div class="pane-header scroll-header">
    <span class="pane-title">My Calendars</span>
    <span class="icon-plus-alt right" ng-click="add()" aria-hidden="true"></span>
</div>
<div ng-show="loading_calendars" class="spinwheel"></div>
<!-- SUBSCRIBED CALENDAR SECTION -->
<div scroll-pane class="scroll-pane">
	<active-subscription
		ng-repeat="calendar in subscribedCalendars = (calendars | filter:{active: 1, subscribed: true} | orderBy:'calendar_name')" 
		watcher="calendarWatchers"
		calendar="calendar"
		user="user"
		reminder-types="reminderTypes"
		adding-calendar="addingCalendar">
	</active-subscription>
</div>

<!-- ADD CALENDAR SECTION -->
<div id="add-calendar" class="transition-07 slide-drawer full bottom-up" ng-class="{open: addingSubscription}">
	<div class="scroll-header">
    	<!-- calendar creation form -->
    	<div class="pane-header">
	        <span class="pane-title">Create new</span>
	        <span class="icon-x-altx-alt right" ng-click="cancel()" aria-hidden="true"></span>
	    </div>

	    <!-- NEW CALENDAR CREATION FORM -->
	    <div class="subscription-panel" ng-style="{background:newCalendar.color}">
			<div class="subscription-gradient"> 
				<div class="subscription-body">
					<form class="subscription" name="newCalendarForm" novalidate>
					    <input focus-me="[addingSubscription]" delay="700" required type="text" ng-model="newCalendar.calendar_name" placeholder="Name (required)" class="on-date" style="width: 100%;" />
						<div class="row">
							<div class="large-6 columns" style='padding: 0;'>
								<ui-colorpicker class="checkbox" ng-model="newCalendar.color"></ui-colorpicker>
							</div>
							<div class="large-6 columns" style='padding: 0;'>
								<label class="checkbox">
									<input ng-model="newCalendar.viewing" type="checkbox" />
									Show
								</label>
							</div>
						</div>
						<div class="row">
							<div ng-class="{'large-6':hasPublic , 'large-12':!hasPublic }" class="columns" style='padding: 0;'>
								<label class="checkbox" ng-class="{'on-date':newCalendar.has_reminder}">
									<input type='checkbox' ng-model="newCalendar.has_reminder" ng-change="reminderToggle()" />
									Add Reminder
								</label>
							</div>
							<div class="large-6 columns" ng-show="isOrgAdmin(newCalendar)" style='padding: 0;'>
								<label class=checkbox>
									<input ng-model="newCalendar.public" type="checkbox" />
									Public
								</label>
							</div>
						</div>
						<div class="row" ng-show="newCalendar.has_reminder">
							<div style="float: left; width: 20%; margin-right: 2%;">
								<input ng-required="newCalendar.has_reminder" type='number' min="1" ng-model="newCalendar.reminder_offset" placeholder="2" />
							</div>
							<div style="float: left;" class="with-offset">
								<!-- Relative Reminder Types -->
								<select
									ng-options="r.id as r.name for r in reminderTypes | filter:{type:'relative'}"
									ng-model="newCalendar.reminder_type">
								</select>
							</div>
						</div>
						<ul class="button-group even-2">
							<li>
								<button class="button radius" ng-click="reset()">
									<span aria-hidden="true" class="icon-reload-alt"> Reset</span>
								</button>
							</li>
							<li>
								<button ng-disabled="newCalendarForm.$invalid" class="button radius" ng-click="save()">
									<span aria-hidden="true" class="icon-checkmark"> Create</span> 
								</button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>

		<!-- RECENTLY CREATED/SUBSCRIBED CALENDAR SECTION -->
		<div ng-show="recentCalendars.length" class="pane-header secondary" style="border-top: 1px solid #afafaf;">
	        <span class="pane-title">Recently Added</span>
	    </div>

		<!-- recently acquired calendars ng-repeat -->
		<active-subscription
			ng-repeat="calendar in recentCalendars = (calendars | filter:{active: 1, recent: true, subscribed: true} | orderBy:'calendar_name')"
			watcher="calendarWatchers"
			user="user"
			calendar="calendar"
			reminder-types="reminderTypes"
			adding-calendar="addingCalendar">
		</active-subscription>
		
		<div ng-show="availableCalendars.length || calFilter" class="pane-header secondary" style="border-top: 1px solid #afafaf;">
	        <span class="pane-title">Available</span>
	    </div>

	    <div style="position: relative;">
			<input style="margin: 0;" type="text" ng-model="calFilter" placeholder="Search Calendars" />
			<span style="position: absolute; top: 4px; right: 6px; font-size: 24px; color: #d4d4d4;" aria-hidden="true" class="icon-backspace" ng-click="calFilter=''"></span>
		</div>
	</div>
	<div scroll-pane-two watch="recentCalendars.length" style="overflow-y: auto;">
    	<!-- available calendars ng-repeat -->
		<available-subscription
			ng-repeat="calendar in availableCalendars = (calendars | filter:{active: 1, subscribed: false} | filter:calFilter | orderBy:'calendar_name')"
			watcher="calendarWatchers"
			user="user"
			calendar="calendar">
		</available-subscription>
	</div>
</div>
