<div class="pane-header scroll-header">
    <span class="pane-title">My Calendars</span>
    <span class="icon-plus-alt right" ng-click="add()" aria-hidden="true"></span>
</div>
<div ng-show="loading_calendars" class="spinwheel"></div>
<!-- Calendar Admin box -->
<div id="calendar-admin-modal-bg" class="reveal-modal-bg"></div>
<div id="calendar-admin-modal" class="reveal-modal medium" style="position:fixed; color:black; padding: 0 0 20px 0;">
<h2>Calendar Administration</h2>
	<h3>{{calendar.calendar_name}}</h3>
	<div class="large-4 columns left">
		<div ng-repeat="admin in calendar.admins">
			<div class="large-8 small-12 columns" style="line-height:42px; white-space:nowrap;">
				{{admin.first_name}} {{admin.last_name}} : {{admin.user_handle}}			
			</div>
			<div class="large-2 small-12 columns">
				<button ng-click="deleteCalendarAdmin(admin)" class="icon modalTrigger button radius" button-icon="icon-remove-2">
					<span aria-hidden="true" class="icon-remove-2"></span>
				</button>
<!-- 			<confirm
					button-icon="icon-remove-2"
					button-class="button radius"
					header="Delete Calendar Administrator"
					body="Are you sure you want to delete this calendar adminstrator?"
					footer="You are about to delete a calendar adminstrator.  Are you sure you wnat to continue?"
					affirmative-text="Confirm"
					negative-text="Cancel"
					affirmative-action="deleteCalendarAdmin(admin)"
					negative-action="cancelDeleteCalendarAdmin()">
				</confirm> -->
			</div>
		</div>
	</div>
	<div class="large-8 columns right">
		<div class="large-12 columns" ng-show="createNewCalendarAdmin">
			<div class="large-4 columns clear left">Username:</div><div class="large-8 columns right"><input type="text" ng-model="newAdmin.username" /></div>
			<div class="large-12 columns centered alert" ng-show="existingAdmin"><span class='error'>User is already a Calendar Administrator</span></div>
			<div class="large-6 columns">
				<div class="expand small alert button" ng-click="createNewCalendarAdmin = false" >Cancel</div>
			</div>
			<div class="large-6 columns">
				<div class="expand small success button" ng-click="addCalendarAdmin()" >Add</div>
			</div>
		</div>
		<div class="large-12 columns" ng-show="!createNewCalendarAdmin">
			<div class="button" ng-click="createNewCalendarAdmin = true">
				<span aria-hidden="true" class="icon-plus-alt"> Add new Contact Point</span>
			</div> 
		</div>
	</div>
	<a class="close-reveal-modal"><span aria-hidden="true" class="icon-x-altx-alt"></span></a>
</div> 
<!-- END Calendar Admin box -->
<!-- SUBSCRIBED CALENDAR SECTION -->
<div scroll-pane class="scroll-pane">
	<active-subscription
		ng-repeat="calendar in subscribedCalendars = (calendars | filter:{active: true, subscribed: true} | orderBy:'calendar_name')" 
		watcher="calendarWatchers"
		calendar="calendar"
		user="user"
		reminder-types="reminderTypes"
		adding-calendar="addingCalendar">
	</active-subscription>
</div>

<!-- ADD CALENDAR SECTION -->
<div id="add-calendar" class="transition-07 slide-drawer full bottom-up" ng-class="{open: addingSubscription}">
	<div class="scroll-header">
    	<!-- calendar creation form -->
    	<div class="pane-header">
	        <span class="pane-title">Create new</span>
	        <span class="icon-x-altx-alt right" ng-click="cancel()" aria-hidden="true"></span>
	    </div>

	    <!-- NEW CALENDAR CREATION FORM -->
	    <div class="subscription-panel" ng-style="{background:newCalendar.color}">
			<div class="resource-gradient"> 
				<div class="resource-body">
					<form class="subscription" name="newCalendarForm" novalidate>
					    <input focus-me="[addingSubscription]" delay="700" required type="text" ng-model="newCalendar.calendar_name" placeholder="Name (required)" class="on-date" style="width: 100%;" />
						<div class="row">
							<div class="large-6 columns" style='padding: 0;'>
								<ui-colorpicker class="checkbox" ng-model="newCalendar.color"></ui-colorpicker>
							</div>
							<div class="large-6 columns" style='padding: 0;'>
								<label class="checkbox">
									<input ng-model="newCalendar.viewing" type="checkbox" />
									Show
								</label><!-- eyeball show/hide -->
							</div>
						</div>
						<div class="row">
							<div ng-class="{'large-6':hasPublic , 'large-12':!hasPublic }" class="columns" style='padding: 0;'>
								<label class="checkbox" ng-class="{'on-date':newCalendar.has_reminder}">
									<input type='checkbox' ng-model="newCalendar.has_reminder" ng-change="reminderToggle()" />
									Add Reminder
								</label>
							</div>
							<div class="large-6 columns" ng-show="isOrgAdmin(newCalendar)" style='padding: 0;'>
								<label class=checkbox>
									<input ng-model="newCalendar.public" type="checkbox" />
									Public
								</label>
							</div>
						</div>
						<div class="row" ng-show="newCalendar.has_reminder">
							<div style="float: left; width: 20%; margin-right: 2%;">
								<input ng-required="newCalendar.has_reminder" type='number' min="1" ng-model="newCalendar.reminder_offset" placeholder="2" />
							</div>
							<div style="float: left;" class="with-offset">
								<!-- Relative Reminder Types -->
								<select
									ng-options="r.id as r.name for r in reminderTypes | filter:{type:'relative'}"
									ng-model="newCalendar.reminder_type">
								</select>
							</div>
						</div>
						<ul class="button-group even-2">
							<li>
								<button class="button radius" ng-click="reset()">
									<span aria-hidden="true" class="icon-reload-alt"> Reset</span>
								</button>
							</li>
							<li>
								<button ng-disabled="newCalendarForm.$invalid" class="button radius" ng-click="save()">
									<span aria-hidden="true" class="icon-checkmark"> Create</span> 
								</button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>

		<!-- RECENTLY CREATED/SUBSCRIBED CALENDAR SECTION -->
		<div ng-show="recentCalendars.length" class="pane-header secondary" style="border-top: 1px solid #afafaf;">
	        <span class="pane-title">Recently Added</span>
	    </div>

		<!-- recently acquired calendars ng-repeat -->
		<active-subscription
			ng-repeat="calendar in recentCalendars = (calendars | filter:{active: true, recent: true, subscribed: true} | orderBy:'calendar_name')"
			watcher="calendarWatchers"
			user="user"
			calendar="calendar"
			reminder-types="reminderTypes"
			adding-calendar="addingCalendar">
		</active-subscription>
		
		<div ng-show="availableCalendars.length || calFilter" class="pane-header secondary" style="border-top: 1px solid #afafaf;">
	        <span class="pane-title">Available</span>
	    </div>

	    <div style="position: relative;">
			<input style="margin: 0;" type="text" ng-model="calFilter" placeholder="Search Calendars" />
			<span style="position: absolute; top: 4px; right: 6px; font-size: 24px; color: #d4d4d4;" aria-hidden="true" class="icon-backspace" ng-click="calFilter=''"></span>
		</div>
	</div>
	<div scroll-pane-two watch="recentCalendars.length" style="overflow-y: auto;">
    	<!-- available calendars ng-repeat -->
		<available-subscription
			ng-repeat="calendar in availableCalendars = (calendars | filter:{active: true, subscribed: false} | filter:calFilter | orderBy:'calendar_name')"
			watcher="calendarWatchers"
			user="user"
			calendar="calendar">
		</available-subscription>
	</div>
</div>
