<div class="pane-header">
    <span ng-if="editingEvent" class="pane-title">Edit Event</span>
    <span ng-if="addingEvent" class="pane-title">
    	Add New Event 
    	<label style="display: inline; font-size: 14px;" for="alwaysAdvanced">
    		<input id="alwaysAdvanced" type="checkbox" ng-model="quickAdd.alwaysAdvanced" ng-click="" />
    		Always open advanced event entry
    	</label>
    </span>
    <span class="icon-x-altx-alt right" ng-click="cancel()" aria-hidden="true"></span>
</div>
<div class="row">
	<div class="large-6 columns">
		<input type="text" ng-model="formEvent.event_title" placeholder="Title (required)" />
	</div>
	<div class="large-6 columns">
		<select ng-options="calendar.calendar_id as calendar.calendar_name for calendar in calendars | filter:{subscribed: true} | orderBy: 'calendar_name'" ng-model="formEvent.calendar_id" ></select>
	</div>
</div>
<div class="row">
	<div class="large-6 columns calendar-picker-container">
		<input type="text" ng-model="formEvent.event_start" placeholder="Starts" ui-date />
		<button type="button" class="glyph-show"><span calendar-shower="" aria-hidden="true" class="icon-calendar-2"></span></button>
	</div>
	<div class="large-6 columns calendar-picker-container">
		<input type="text" ng-model="formEvent.event_end" placeholder="Ends" ui-date />
		<button type="button" class="glyph-show"><span calendar-shower="" aria-hidden="true" class="icon-calendar-2"></span></button>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<textarea ng-model="formEvent.event_description" placeholder="Add Description"></textarea>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<div ng-if="editingEvent" class="expand small alert button" ng-click="delete()" >delete</div>
		<div ng-if="addingEvent" class="expand small button" ng-click="reset()" >reset</div>
	</div>
	<div class="large-6 columns">
		<div class="expand small alert button" ng-click="cancel()" >cancel</div>
	</div>
</div>
<div class="row">
	<div ng-if="addingEvent" class="large-6 columns">
		<div class="expand small button" ng-click="save(true)">save and continue</div>
	</div>
	<div ng-class="{'large-12':editingEvent, 'large-6':addingEvent}" class=" columns">
		<div ng-if="editingEvent" class="expand small button" ng-click="update()" >save</div>
		<div ng-if="addingEvent" class="expand small button" ng-click="save()" >save</div>
	</div>
</div>