<div class="row">
	<div class="large-12 columns">
		<h3>Quick Add Event</h3>
		<input type="text" ng-model="quickAdd.text" placeholder="Movie at 7pm on Friday" />
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
		<div class="expand small button" ng-click="add()" >advanced</div>
	</div>
	<div class="large-6 columns">
		<div class="expand small alert button" ng-click="cancel()" >cancel</div>
	</div>
	<div class="large-12 columns">
		<div class="expand small button" ng-click="quickSave()" >save</div>
	</div>
</div>