<div class="pane-header scroll-header">
	<span class="pane-title">Tasks/To Do</span>
	<span ng-click="toggle('addingTask')" aria-hidden="true" class="icon-plus-alt right"></span>
</div>
<div ng-show="loading_tasks" class="spinwheel"></div>
<div scroll-pane class="scroll-pane">
	<!-- task entry form -->
	
	<div ng-show="addingTask">
		<div class="task-panel">
			<div class="task-gradient">
				<div class="task-body">
					<task-form task="newTask" save="saveNew()" cancel="toggle('addingTask')" calendars="calendars"></task-form>
				</div>
			</div>
		</div>
	</div>
	<!-- / task entry form -->

	<div ng-repeat="task in events | filter: isTask | filter: isCalendarShowing">
		<view-task task="task" calendars="calendars" colors="calendarWatchers" ng-show="task.active"></view-task>
	</div>
</div>
