<div class="pane-header scroll-header">
	<span class="pane-title">Tasks/To Do</span>
	<span ng-show="!addingTask" ng-click="add()" aria-hidden="true" class="icon-plus-alt right"></span>
	<span ng-show="addingTask" ng-click="cancel()" aria-hidden="true" class="icon-plus-alt right"></span>
</div>
<div ng-show="loading_tasks" class="spinwheel"></div>
<div scroll-pane class="scroll-pane">
	<!-- task entry form -->
	
	<div ng-show="addingTask">
		<div class="task-panel">
			<div class="task-gradient">
				<div class="task-body">
					<task-form
						task="newTask"
						save="save()"
						cancel="cancel()"
						reminder-toggle="reminderToggle()"
						check-calendar-reminder="checkCalendarReminder()"
						due-date-toggle="dueDateToggle()"
						calendars="calendars"
						reminder-type-filter="reminderTypeFilter"
						reminder-types="reminderTypes">
					</task-form>
				</div>
			</div>
		</div>
	</div>
	<!-- / task entry form -->

	<div ng-repeat="task in events | filter: isTask | filter: isCalendarShowing">
		<view-task
			task="task"
			calendars="calendars"
			calendar-watchers="calendarWatchers"
			ng-show="task.active"
			reminder-types="reminderTypes">
		</view-task>
	</div>
</div>
