<!-- subscription view -->
<div class="large-2 columns" ng-controller="SubscriptionCtl">
		<div class="row">
				<div class="large-12 columns">
						<h4>Calendars <small ng-click="toggle('addingSubscription')">add</small></h4>
				</div>
				<hr />
		</div>
		
		<!-- SUBSCRIBED CALENDAR SECTION -->

		<div ng-show="subscribedCalendars.length">
				Subscribed Calendars
				<hr />
		</div>

		<!-- subscribed calendars ng-repeat -->
		<div ng-repeat="calendar in subscribedCalendars = (calendars | filter:{active: 1, subscribed: true} | orderBy:'calendar_name')">
				<calendar-subscription calendar="calendar"></calendar-subscription>
		</div>

		<!-- RECENTLY CREATED/SUBSCRIBED CALENDAR SECTION -->

		<div ng-show="recentCalendars.length">
				Recently Added
				<hr />
		</div>

		<!-- calendar creation form -->
		<div ng-show="addingSubscription">
				<div class="row">
						<input type="text" ng-model="newCalendar.calendar_name" placeholder="Name (required)" />
						<input type="text" ng-model="newCalendar.color" placeholder="Color (required)" />
				</div>
				<div class="row">
						<div class="large-6 columns">
								<div class="expand small alert button" ng-click="cancelNew()" >cancel</div>
						</div>
						<div class="large-6 columns">
								<div class="expand small button" ng-click="saveNew()" >save</div>
						</div>
				</div>
		</div>

		 <!-- recently acquired calendars ng-repeat -->
		<div ng-repeat="calendar in recentCalendars = (calendars | filter:{active: 1, recent: true, subscribed: true} | orderBy:'calendar_name')">
				<calendar-subscription type="available" calendar="calendar"></calendar-subscription>
		</div>

		 <!-- AVAILABLE CALENDAR SECTION -->

		<div ng-show="availabeCalendars.length">
				Available Calendars
				<hr />
		</div>

		<!-- available calendars ng-repeat -->
		<div ng-repeat="calendar in availabeCalendars = (calendars | filter:{active: 1, subscribed: false} | orderBy:'calendar_name')">
				<calendar-subscription type="available" calendar="calendar"></calendar-subscription>
		</div>
</div>
<!-- / subscription view -->

<!-- event view -->
<div class="large-8 columns">
	<h3>{{view}} view <small ng-click="changeView('day')">day</small> <small ng-click="changeView('week')">week</small> <small ng-click="changeView('month')">month</small> <small ng-click="changeView('list')">list</small> <small ng-click="changeView('datebook')">datebook</small></h3>

	<div ng-switch="view">
		<div ng-switch-when="day">
			<strong>{{view}}</strong>
		</div>

		<div ng-switch-when="week">
			<strong>{{view}}</strong>
		</div>

		<div ng-switch-when="month">
			<strong>{{view}}</strong>
		</div>

		<div ng-switch-when="list">
			<strong>{{view}}</strong>
		</div>

		<div ng-switch-when="datebook">
			<strong>{{view}}</strong>
		</div>
	</div>
</div>
<!-- / event view -->

<!-- task view -->
<div class="large-2 columns" ng-controller="TaskCtl">
	<div class="row">
		<div class="large-12 columns">
			<h4>Tasks <small ng-click="toggle('addingTask')">add</small></h4>
		</div>
	</div>

	<!-- task entry form -->
	<div ng-show="addingTask">
		<task-form task="newTask" save="saveNew()" cancel="toggle('addingTask')" calendars="calendars"></task-form>
	</div>
	<!-- / task entry form -->

	<div ng-repeat="task in tasks">
		<view-task task="task" calendars="calendars" ng-show="task.active"> </view-task>
	</div>

</div>
<!-- / task view -->
