<!-- subscription view  gets pulled 10 columns from it's original position, all the way to the left. -->
<div ng-controller="SubscriptionCtl" id="my-calendars" style="height: 100%; overflow: hidden; left: 0px; z-index: 1;" class="small-12 large-2 columns drawer">
	<div class="pane-header scroll-header">
        <span class="pane-title">My Calendars</span>
        <span ng-click="toggle('addingSubscription')" aria-hidden="true" class="icon-plus-alt right"></span>
    </div>
	<div scroll-pane style="border-right: 1px solid #afafaf;" class="scroll-pane">
		<!-- calendar creation form -->
		<div ng-show="addingSubscription">
			<div class="row">
				<input type="text" ng-model="newCalendar.calendar_name" placeholder="Name (required)" />
				<input type="text" ng-model="newCalendar.color" placeholder="Color (required)" />
			</div>
			<div class="row">
				<div class="large-6 columns">
					<div class="expand small alert button" ng-click="cancelNew()" >cancel</div>
				</div>
				<div class="large-6 columns">
					<div class="expand small button" ng-click="saveNew()" >save</div>
				</div>
			</div>
		</div>
		
		<!-- SUBSCRIBED CALENDAR SECTION -->
		<active-subscription
		 ng-repeat="calendar in subscribedCalendars = (calendars | filter:{active: 1, subscribed: true} | orderBy:'calendar_name')" 
			watcher="calendarWatchers"
			calendar="calendar">
		</active-subscription>

		<!-- RECENTLY CREATED/SUBSCRIBED CALENDAR SECTION -->

		<div ng-show="recentCalendars.length">
			Recently Added
			<hr />
		</div>

		 <!-- recently acquired calendars ng-repeat -->
		<active-subscription
			ng-repeat="calendar in recentCalendars = (calendars | filter:{active: 1, recent: true, subscribed: true} | orderBy:'calendar_name')"
			watcher="calendarWatchers"
			calendar="calendar">
		</active-subscription>
		

		 <!-- AVAILABLE CALENDAR SECTION -->

		<div ng-show="availabeCalendars.length">
			Available Calendars
			<hr />
		</div>

		<!-- available calendars ng-repeat -->
		<available-subscription
			ng-repeat="calendar in availabeCalendars = (calendars | filter:{active: 1, subscribed: false} | orderBy:'calendar_name')"
			watcher="calendarWatchers"
			calendar="calendar">
		</available-subscription>
	</div>
</div>
<!-- / subscription view -->

<!-- event view -->
<div
	ng-controller="EventCtl"
	id="main-content"
	style="height: 100%; overflow: hidden; position: relative; z-index: 2"
	ng-class="{
		'small-12':true,
		'large-8':(calendarDrawer && taskDrawer),
		'large-10':(calendarDrawer && !taskDrawer) || (!calendarDrawer && taskDrawer),
		'large-12':(!calendarDrawer && !taskDrawer),
		'push-2': calendarDrawer,
		'columns':true
	}">
	<header id="content-header" class="scroll-header">
		<ul class="small-block-grid-3">
			<li class="text-left">
				<span>
					<span ng-click="toggle('calendarDrawer')" aria-hidden="true" class="icon-arrow-left hide-for-small" style="margin-left: 4px;"></span>
				</span>
				<span aria-hidden="true" class="icon-calendar-2"></span>
			</li>
			<li>
				<span aria-hidden="true" class="icon-arrow-left-2"></span>
				<span class="month-switcher">September</span>
				<span aria-hidden="true" class="icon-arrow-right-2"></span>
			</li>
			<li class="text-right">
				<span ng-click="quickAdd()" aria-hidden="true" class="icon-plus-alt"></span>
				<span>
					<span ng-click="toggle('taskDrawer')" aria-hidden="true" class="icon-arrow-right hide-for-small" style="margin-right: 4px;"></span>
				</span>
			</li>
		</ul>
    </header>

    <div scroll-pane class="scroll-pane scroll-medium-up">
		<!-- event quickAdd form -->
		<div ng-show="quickAdding" >
		<div ng-include src="'modules/calendar/_quickadd_event_form.html'"></div>
		</div>

		<!-- event add/edit form -->
		<div  ng-show="addingEvent || editingEvent">
			<div ng-include src="'modules/calendar/_event_form.html'"></div>
		</div>

		<!-- calendar views switch -->
		<div ng-switch="view">
			<div ng-switch-when="day">
				<day-view tasks="tasks" calendars="calendars" events="events" colors="calendarWatchers" filter="isCalendarShowing"></day-view>
			</div>

			<div ng-switch-when="week">
				<week-view tasks="tasks" calendars="calendars" events="events" colors="calendarWatchers" filter="isCalendarShowing"></week-view>
			</div>

			<div ng-switch-when="month">
				<month-view tasks="tasks" calendars="calendars" events="events" colors="calendarWatchers" filter="isCalendarShowing"></month-view>
			</div>

			<div ng-switch-when="list">
				<list-view></list-view>
			</div>

			<div ng-switch-when="datebook">
				<datebook-view tasks="tasks" calendars="calendars" events="events" colors="calendarWatchers" filter="isCalendarShowing"></datebook-view>
			</div>
		</div>
	</div>
</div>
<!-- / event view -->

<!-- task view -->
<div ng-controller="TaskCtl" id="tasks" style="height: 100%; overflow: hidden; right: 0px; z-index: 1;" class="small-12 large-2 columns drawer">
	<div class="pane-header scroll-header">
    	<span class="pane-title">Tasks/To Do</span>
    	<span ng-click="toggle('addingTask')" aria-hidden="true" class="icon-plus-alt right"></span>
    </div>
    <div scroll-pane style="border-left: 1px solid #afafaf;" class="scroll-pane">
		<!-- task entry form -->
		<div ng-show="addingTask">
			<task-form task="newTask" save="saveNew()" cancel="toggle('addingTask')" calendars="calendars"></task-form>
		</div>
		<!-- / task entry form -->

		<div ng-repeat="task in tasks | filter: isCalendarShowing">
			<view-task task="task" calendars="calendars" colors="calendarWatchers" ng-show="task.active"></view-task>
		</div>
	</div>
</div>
<!-- / task view -->