<!-- subscription view -->
<div class="large-2 columns" ng-controller="SubscriptionCtl">
	<div class="row">
		<div class="large-12 columns">
			<h4>Calendars <small ng-click="toggle('addingSubscription')">add</small></h4>
		</div>
		<hr />
	</div>

	<!-- calendar creation form -->
	<div ng-show="addingSubscription">
		<div class="row">
			<input type="text" ng-model="newCalendar.calendar_name" placeholder="Name (required)" />
			<input type="text" ng-model="newCalendar.color" placeholder="Color (required)" />
		</div>
		<div class="row">
			<div class="large-6 columns">
				<div class="expand small alert button" ng-click="cancelNew()" >cancel</div>
			</div>
			<div class="large-6 columns">
				<div class="expand small button" ng-click="saveNew()" >save</div>
			</div>
		</div>
	</div>
	
	<!-- SUBSCRIBED CALENDAR SECTION -->

	<div ng-show="subscribedCalendars.length">
		Subscribed Calendars
		<hr />
	</div>

	<!-- subscribed calendars ng-repeat -->
		<active-subscription
		 ng-repeat="calendar in subscribedCalendars = (calendars | filter:{active: 1, subscribed: true} | orderBy:'calendar_name')" 
			watcher="calendarWatchers"
			calendar="calendar">
		</active-subscription>

	<!-- RECENTLY CREATED/SUBSCRIBED CALENDAR SECTION -->

	<div ng-show="recentCalendars.length">
		Recently Added
		<hr />
	</div>

	 <!-- recently acquired calendars ng-repeat -->
	<active-subscription
		ng-repeat="calendar in recentCalendars = (calendars | filter:{active: 1, recent: true, subscribed: true} | orderBy:'calendar_name')"
		watcher="calendarWatchers"
		calendar="calendar">
	</active-subscription>
	

	 <!-- AVAILABLE CALENDAR SECTION -->

	<div ng-show="availabeCalendars.length">
		Available Calendars
		<hr />
	</div>

	<!-- available calendars ng-repeat -->
	<available-subscription
		ng-repeat="calendar in availabeCalendars = (calendars | filter:{active: 1, subscribed: false} | orderBy:'calendar_name')"
		watcher="calendarWatchers"
		calendar="calendar">
	</available-subscription>
</div>
<!-- / subscription view -->

<!-- event view -->
<div class="large-8 columns" ng-controller="EventCtl">
	<div class="row">
		<div class="large-5 columns">
			<h3>{{view}} view
				<small ng-click="add()">add event</small><br />
				<small ng-click="quickAdd()">quick add event</small>
			</h3>
		</div>
		<div class="large-7 columns">
			<h3><small ng-click="changeView('day')">day</small> <small ng-click="changeView('week')">week</small> <small ng-click="changeView('month')">month</small> <small ng-click="changeView('list')">list</small> <small ng-click="changeView('datebook')">datebook</small></h3>
		</div>
	</div>

	<!-- event add/edit form -->
	<div ng-show="quickAdding" ng-include src="'modules/calendar/_quickadd_event_form.html'"></div>

	<!-- event add/edit form -->
	<div ng-show="addingEvent || editingEvent" ng-include src="'modules/calendar/_event_form.html'"></div>

	<!-- calendar views switch -->
	<div ng-switch="view">
		<div ng-switch-when="day">
			<day-view tasks="tasks" calendars="calendars" events="events" colors="calendarWatchers" filter="isCalendarShowing"></day-view>
		</div>

		<div ng-switch-when="week">
			<week-view tasks="tasks" calendars="calendars" events="events" colors="calendarWatchers" filter="isCalendarShowing"></week-view>
		</div>

		<div ng-switch-when="month">
			<month-view tasks="tasks" calendars="calendars" events="events" colors="calendarWatchers" filter="isCalendarShowing"></month-view>
		</div>

		<div ng-switch-when="list">
			<list-view></list-view>
		</div>

		<div ng-switch-when="datebook">
			<datebook-view tasks="tasks" calendars="calendars" events="events" colors="calendarWatchers" filter="isCalendarShowing"></datebook-view>
		</div>
	</div>
</div>
<!-- / event view -->

<!-- task view -->
<div class="large-2 columns" ng-controller="TaskCtl">
	<div class="row">
		<div class="large-12 columns">
			<h4>Tasks <small ng-click="toggle('addingTask')">add</small></h4>
		</div>
	</div>

	<!-- task entry form -->
	<div ng-show="addingTask">
		<task-form task="newTask" save="saveNew()" cancel="toggle('addingTask')" calendars="calendars"></task-form>
	</div>
	<!-- / task entry form -->

	<div ng-repeat="task in tasks | filter: isCalendarShowing">
		<view-task task="task" calendars="calendars" colors="calendarWatchers" ng-show="task.active"></view-task>
	</div>

</div>
<!-- / task view -->
