@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-notification-2, .icon-grid, .icon-grid-2, .icon-menu, .icon-grid-3, .icon-spam, .icon-menu-2, .icon-signup, .icon-calendar, .icon-table, .icon-table-2, .icon-notification, .icon-warning, .icon-arrow-left, .icon-arrow-right, .icon-checkbox-checked, .icon-checkbox-unchecked, .icon-floppy, .icon-html5, .icon-apple, .icon-android, .icon-windows8, .icon-checkmark, .icon-close, .icon-flag, .icon-star, .icon-star-2, .icon-remove, .icon-remove-2, .icon-cog, .icon-settings, .icon-unlocked, .icon-lock, .icon-spinner, .icon-spinner-2, .icon-busy, .icon-spinner-3, .icon-calendar-2, .icon-envelop, .icon-notebook, .icon-book, .icon-books, .icon-pencil, .icon-home, .icon-check-alt, .icon-x-altx-alt, .icon-plus-alt, .icon-minus-alt, .icon-network, .icon-flag-2, .icon-bubble-notification, .icon-calendar-3, .icon-calendar-4, .icon-calendar-5, .icon-close-2, .icon-backspace, .icon-flag-3, .icon-calendar-6, .icon-folder-minus, .icon-folder-plus, .icon-menu-3, .icon-menu-4, .icon-cart, .icon-cart-plus, .icon-cart-minus, .icon-cart-remove, .icon-more, .icon-mobile, .icon-phone, .icon-mobile-2, .icon-new, .icon-share, .icon-new-tab, .icon-bell, .icon-alarm-plus, .icon-alarm-minus, .icon-alarm-check, .icon-alarm-cancel, .icon-calendarPlus, .icon-calendarMinus, .icon-arrow-right-2, .icon-arrow-left-2, .icon-reload-alt, .icon-rss-alt, .icon-feed, .icon-download, .icon-poop-1 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-notification-2:before {
	content: "\e000";
}
.icon-grid:before {
	content: "\e001";
}
.icon-grid-2:before {
	content: "\e002";
}
.icon-menu:before {
	content: "\e003";
}
.icon-grid-3:before {
	content: "\e004";
}
.icon-spam:before {
	content: "\e005";
}
.icon-menu-2:before {
	content: "\e006";
}
.icon-signup:before {
	content: "\e007";
}
.icon-calendar:before {
	content: "\e008";
}
.icon-table:before {
	content: "\e009";
}
.icon-table-2:before {
	content: "\e00a";
}
.icon-notification:before {
	content: "\e00b";
}
.icon-warning:before {
	content: "\e00c";
}
.icon-arrow-left:before {
	content: "\e00d";
}
.icon-arrow-right:before {
	content: "\e00e";
}
.icon-checkbox-checked:before {
	content: "\e00f";
}
.icon-checkbox-unchecked:before {
	content: "\e010";
}
.icon-floppy:before {
	content: "\e011";
}
.icon-html5:before {
	content: "\e012";
}
.icon-apple:before {
	content: "\e013";
}
.icon-android:before {
	content: "\e014";
}
.icon-windows8:before {
	content: "\e015";
}
.icon-checkmark:before {
	content: "\e016";
}
.icon-close:before {
	content: "\e017";
}
.icon-flag:before {
	content: "\e018";
}
.icon-star:before {
	content: "\e019";
}
.icon-star-2:before {
	content: "\e01a";
}
.icon-remove:before {
	content: "\e01b";
}
.icon-remove-2:before {
	content: "\e01c";
}
.icon-cog:before {
	content: "\e01d";
}
.icon-settings:before {
	content: "\e01e";
}
.icon-unlocked:before {
	content: "\e01f";
}
.icon-lock:before {
	content: "\e020";
}
.icon-spinner:before {
	content: "\e021";
}
.icon-spinner-2:before {
	content: "\e022";
}
.icon-busy:before {
	content: "\e023";
}
.icon-spinner-3:before {
	content: "\e024";
}
.icon-calendar-2:before {
	content: "\e025";
}
.icon-envelop:before {
	content: "\e026";
}
.icon-notebook:before {
	content: "\e027";
}
.icon-book:before {
	content: "\e028";
}
.icon-books:before {
	content: "\e029";
}
.icon-pencil:before {
	content: "\e02a";
}
.icon-home:before {
	content: "\e02b";
}
.icon-check-alt:before {
	content: "\e02c";
}
.icon-x-altx-alt:before {
	content: "\e02d";
}
.icon-plus-alt:before {
	content: "\e02e";
}
.icon-minus-alt:before {
	content: "\e02f";
}
.icon-network:before {
	content: "\e030";
}
.icon-flag-2:before {
	content: "\e031";
}
.icon-bubble-notification:before {
	content: "\e032";
}
.icon-calendar-3:before {
	content: "\e033";
}
.icon-calendar-4:before {
	content: "\e034";
}
.icon-calendar-5:before {
	content: "\e035";
}
.icon-close-2:before {
	content: "\e036";
}
.icon-backspace:before {
	content: "\e037";
}
.icon-flag-3:before {
	content: "\e038";
}
.icon-calendar-6:before {
	content: "\e039";
}
.icon-folder-minus:before {
	content: "\e03a";
}
.icon-folder-plus:before {
	content: "\e03b";
}
.icon-menu-3:before {
	content: "\e03c";
}
.icon-menu-4:before {
	content: "\e03d";
}
.icon-cart:before {
	content: "\e03e";
}
.icon-cart-plus:before {
	content: "\e03f";
}
.icon-cart-minus:before {
	content: "\e040";
}
.icon-cart-remove:before {
	content: "\e041";
}
.icon-more:before {
	content: "\e042";
}
.icon-mobile:before {
	content: "\e043";
}
.icon-phone:before {
	content: "\e044";
}
.icon-mobile-2:before {
	content: "\e045";
}
.icon-new:before {
	content: "\e046";
}
.icon-share:before {
	content: "\e047";
}
.icon-new-tab:before {
	content: "\e048";
}
.icon-bell:before {
	content: "\e04d";
}
.icon-alarm-plus:before {
	content: "\e04e";
}
.icon-alarm-minus:before {
	content: "\e04f";
}
.icon-alarm-check:before {
	content: "\e050";
}
.icon-alarm-cancel:before {
	content: "\e051";
}
.icon-calendarPlus:before {
	content: "\e049";
}
.icon-calendarMinus:before {
	content: "\e04a";
}
.icon-arrow-right-2:before {
	content: "\e04b";
}
.icon-arrow-left-2:before {
	content: "\e04c";
}
.icon-reload-alt:before {
	content: "\e052";
}
.icon-rss-alt:before {
	content: "\e053";
}
.icon-feed:before {
	content: "\e054";
}
.icon-download:before {
	content: "\e055";
}
.icon-poop-1:before {
	content: "\e056";
}

.icon-backspace:before {
	content: "\e037";
	background: #fff;
	text-shadow: 0px 0px 0px #000;
    filter: dropshadow(color=#000, offx=0, offy=0);
}