.iOS input[type="datetime-local"],
.iOS input[type="date"],
.iOS input[type="time"] {
	-webkit-appearance: none; /* disables iOS webkit's ugly default rendering */
}

.iPad .transition {
}

.iPad #advancedEvent .on-date.datetime {
	width: 30%;
}

.iPad #advancedEvent .on-date-right {
	width: 67.4%;
	margin-right: 0;
}