@media only screen {
	body {
		overflow-y: auto;
	}
	.scroll-pane {
	 	overflow-y: hidden;
	}
	.drawer {
		position: relative;
	}
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {
	body {
		overflow: hidden !important;
	}
	.scroll-pane {
		overflow-y: auto !important;
	}
	.drawer {
		position: absolute !important;
	}
}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}