@media only screen {
	body {
		overflow-y: auto;
	}
	.scroll-pane {
	 	overflow-y: hidden;
	}
	.drawer {
		position: relative;
	}
}

html,
body {
  height: 100%;
}

textarea {
	resize: none;
}

label.checkbox {
	height: 2.3125em;
	font-size: 14px;
	border: 1px solid #aaa;
	padding: 0.5em;
	color: #555;
	margin: 0 0 1em 0;
	color: rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

select {
	font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	display: inline-block;
	height: 2.3125em;
	font-size: 14px;
	border: 1px solid #aaa;
	padding: 0.5em;
	color: #555;
	margin: 0 0 1em 0;
	color: rgba(0, 0, 0, 0.75);
}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {
	body {
		overflow: hidden !important;
	}
	.scroll-pane {
		overflow-y: auto !important;
	}
	.drawer {
		position: absolute !important;
	}
}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* define transition speed as .7 seconds for your animation */
.transition-07 {
	transition: 0.7s;
}

 /* sliding drawer basic styles */
.slide-drawer {
	background: rgb(238, 238, 238);
	position: absolute;
	width: 100%;
	z-index: 10;
}

 /* Add .full class to .sliding-drawer if you want
 	the drawer to cover the contents of its parent
 	container. Otherwise height = auto.
 */
.slide-drawer.full {
	height: 100%;
}

 /* define starting position as bottom of parent container (out of view) */
.slide-drawer.bottom-up {
	top: 100%;
}

 /* define starting position as top of parent container (out of view) */
.slide-drawer.top-down {
	top: -100%;
}

 /* define ending position for all top/bottom sliding drawers (in view).
 	36px is height of pane-headers 
 */
.slide-drawer.open {
	top: 0;
}

 /* rotate icon 45 degrees (make plus icons into x icons) */
.rotate-45 {
	-webkit-transform: rotate(45deg);
}


/* Fade in animaiton for the user settings save/cancel buttons */
.animate-show.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  opacity:0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

/* Loading Spinners */
.spinwheel-holder {
	height: 100px;
	width: 100px;
	position: absolute;
	margin-left: 44%;
}
.spinwheel {
    width: 57px;
    height: 57px;
    position: relative;
	top: 40%;
	margin-left: auto;
	margin-right: auto;
    background-image: url('/favicon.png');
    background-repeat:no-repeat;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* Settings Dropdown menu */
#settingsMenu {
	position: absolute;
	margin-left: 0 !important;
	width: 140px !important;
	background: #FFF !important;
	right: 0px;
	padding: 0px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
#settingsMenu.extended {
	top:45px !important;
}
#settingsMenu.f-dropdown{
	top:-400%;
}
#settingsMenu.f-dropdown:before{
	display:none !important;
}

#settingsMenu.f-dropdown:after {
left: 110px !important;
}

#settingsMenu li {
	padding: 3px;
	width: 100%;

}
#settingsMenu li.divider {
	height: 1px;
	padding: 0;
}
#settingsMenu li span {
	padding: 0 3px;
}

/* Settings Tabs */
.settings>dd {
	float:left;
	border-bottom: 1px solid #E6E6E6;
}
.settings.tabs>dd.active>p {
	font-weight:bolder !important;
}
.settings.tabs {
	overflow: hidden;
	margin-bottom:0px !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tabs dd.active {
	border-top: 3px solid #2BA6CB;
	margin-top: 0px;
	border-bottom:0;
	background: #dddddd; /* Old browsers */
	background: -moz-linear-gradient(top,  #dddddd 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dddddd 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dddddd 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dddddd 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dddddd 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.tabs dd p {
	color: #6F6F6F;
	display: block;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	padding: 0px 15px;
	cursor:pointer;
	margin-bottom:0px !important;
}
.tabs dd.active p {
	cursor: default;
	color: #3C3C3C;
	background: transparent;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	font-weight: bold;
	margin-bottom:0px !important;
}

/* EVENT FORM STYLES */
#advancedEvent,
#quickEvent,
#global-modal
#account-settings-modal {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

input, textarea {
	border-radius: 0px !important;
}

.without-offset {
	width: 100%;
}
#advancedEvent .with-offset {
	width: 88%;
}
#advancedEvent .on-date {
	display: block;
	float: left;
	width: 48.7%;
	margin-right: 2.6%
}
#advancedEvent .on-date-right {
	display: block;
	float: left;
	width: 48.7%;
}
#tasks .with-offset,
#my-calendars .with-offset {
	width: 78%;
}
#tasks .on-date,
#my-calendars .on-date {
	margin-bottom: .1875em;
}

/* general use */
.centered {
	text-align: center;
}
.required.fail {
	border: 1px #F00 solid;
}
.clear {
	clear: both;
}
/* contact points */
.contactPoint.item {

	margin:2px 0;
}

/* SETTINGS INTERFACE STYLES  */
.settings-body {
	line-height: normal !important;
}

.settings-body input {
	line-height: normal !important;
	height: 2.3125em !important;
	top: 0px !important;
	padding: 0.5em !important;
	margin: 0 0 1em 0 !important;
}

.settings-body button {
	font-size: 16px !important;
	height: 36px !important;
}

/* FORM VALIDATION STYLES */
form {
	margin: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

form input.ng-invalid {
	border-color: #FA787E !important;
	-webkit-box-shadow: 0 0 5px #FA787E !important;
	-moz-box-shadow: 0 0 5px #FA787E !important;
	box-shadow: 0 0 5px #FA787E !important;
}

/* POPUP SUMMARY STYLES */
#summaryPopup {
	position: absolute;
	z-index: 99;
	width: 350px;
	-webkit-box-shadow: 0 0 5px #999999;
	-moz-box-shadow: 0 0 5px #999999;
	box-shadow: 0 0 5px #999999;
}
#summaryPopup .resource-body {
	margin: 1px 1px 1px 8px;
}
#summaryPopup .summaryPopup-body {
	overflow: hidden;
}
#summaryPopup .pointer {
	position: absolute;
	z-index: -1;
	height: 18px;
	width: 18px;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-box-shadow: 0 0 5px #999999;
	-moz-box-shadow: 0 0 5px #999999;
	box-shadow: 0 0 5px #999999;
}
#summaryPopup .pointer.top:after {
	content: "";
    position:absolute;
    background: rgba(255,255,255,0.3);
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}
#summaryPopup .close {
	position: relative;
	top: -5px;
	float: right;
	font-size: 20px;
	color: #999;
}

#summaryPopup .close:hover {
	color: #666;
}

#summaryPopup .title {
	width: 84%;
	cursor: pointer;
}

#summaryPopup .time,
#summaryPopup .description {
	width: 92%;
}

#summaryPopup .title .icon-pencil {
	color: #222;
	font-size: 14px;
}
#summaryPopup .title.click {
	cursor: pointer;
}

#summaryPopup .title:hover {
	text-decoration: underline;
}

#summaryPopup .title strong {
	font-size: 18px;
}

#summaryPopup .time {
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 13px;
}

#summaryPopup .description {
	cursor: pointer;
	padding: 8px 3px 5px 0;
	font-size: .875em;
	font-weight: 300;
}

#summaryPopup .description:hover {
	text-decoration: underline;
}

#summaryPopup .description.short {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-bottom: 0px;
}

#summaryPopup .creator {
	position: absolute;
	bottom: 2px;
	left: 0;
	text-align: right;
	font-weight: 300;
	padding: 3px;
	text-shadow: 1px 1px 2px white;
}
#summaryPopup .button-group {
	margin: 12px 0 -3px 0;
}
#summaryPopup .button-group button {
	padding: 0px 15px;
}

/* disable text selection */
#content-header, .calendar-index, .pane-header {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}