.resource-panel,
.resource-gradient,
.resource-body,
.resource-edit,
.resource-header {
	position: relative;
}

.resource-panel,
.resource-gradient,
.resource-body,
.resource-header {
	overflow: hidden;
}

.resource-panel,
.resource-gradient,
.resource-edit,
.resource-display {
	width: 100%;
}

.resource-panel {
	max-height: 40px;
	border-bottom: 1px solid #999;
}

.resource-panel.open {
	margin: 15px;
	width: 200%;
	max-height: 999px;
	border: none;
	-webkit-box-shadow: 0 0 5px #999999;
	-moz-box-shadow: 0 0 5px #999999;
	box-shadow: 0 0 5px #999999;
	-webkit-animation-name: open-horiz,open-vert;
	-webkit-animation-duration: 0.7s,1.4s;
	-webkit-animation-timing-function: ease, ;
}

@-webkit-keyframes open-horiz {
	0% {
		margin: 0px;
		width: 100%;
	}
	100% {
		margin: 15px;
		width: 200%;
	}
}

@-webkit-keyframes open-vert {
	0% {
		max-height: 40px;
	}
	100% {
		max-height: 999px;
	}
}

.resource-gradient {
	height: 100%;
}

.resource-body {
	margin: 0 0 0 8px;
	padding: 0 0 0 5px;
	height: 40px;
	overflow: hidden;
}

.resource-display {
	height: 100%;
	z-index: 2;
}

.resource-edit {
	height: 0;
	opacity: 0
}

.resource-header {
	padding-left: 8px !important;
	height: 0  !important;
}

.resource-panel .subscribed {
	height: 20px;
	width: 20px;
	overflow: hidden;
	position: absolute;
	left: calc(100% -  20px);
	left: calc(100% -  20px);
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); 
	-mox-transform: rotate(180deg); 
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.resource-name,
.resource-color {
	float: left;
}

.resource-name {
	width: 90%; /* fallback if calc() not supported */
	width: calc(100% - 2em);
}

.resource-color {
	width: 2em;
}

/* transition changes */
.resource-panel.open .resource-body {
	height: 100%;
	margin: 0px 1px 1px 8px;
	padding: 0 0 1em 0;
}

.resource-panel.open + .resource-panel {
	border-top: 1px solid #999;
}

/* keep display hidden during opening/closing */
.resource-panel.open .resource-display {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

/* bring edit to top when open */
.resource-panel.open .resource-header {
	height: 30px !important;
}
.resource-panel.open .resource-edit {
	opacity: 1;
	height: auto;
}

/* keep display absolute when closing */
.resource-panel.done.close .resource-display {
	position: absolute;
}

.resource-panel.open .subscribed {
	left:  0px;
	bottom: 0px;
	transform: none;
	-webkit-transform: none;
	-ms-transform: none;
	-moz-transform: none;
	-o-transform: none;
}

/* from foundation scss to deal with at some point */
.subscription-calendar-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 90%;
	display: inline-block !important;
	cursor: pointer;
	color: #222;
	font-size: 14px;
	padding-top: 12px;
}

/* PANE HEADER stuff that probably shouldn't be here */
.pane-header.small {
	font-size: 18px;
	background: none;
}
.pane-header.small .pane-title {
	display: block;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	top: 6px;
	margin-left: 0;
}
.pane-header.small span.right {
	position: absolute;
	right: -5px;
	top: 2px;
	text-shadow: none !important;
}